<ion-view view-title="Settings">
  <ion-content>

    <div class="list">



      <a class="item item-divider indigo-text text-lighten-3">
            Account
          </a>
      <a class="item item-icon-right">

        <div>
          Account verify<br>{{userMail}}
          <span ng-click="veryfyEmail(user)" class="pull-right red-text" ng-show="user.verifyEmail==false"> Not Verified</span>
          <span class="pull-right green-text" ng-show="user.verifyEmail==true"> Verified</span>
        </div>
      </a>
      <a class="item item-divider indigo-text text-lighten-3" href="#">
            Security
          </a>
      <a class="item item-icon-right" ng-click="changeCurrentPassword()">
            Change Password
          </a>
      <a class="item item-icon-right" ng-click="changeSpendingtPassword()">
            Change Pin
          </a>

      <a class="item item-divider indigo-text text-lighten-3">
            App
          </a>

      <a class="item item-icon-right ink">
        <!-- ui-sref="app.about"> -->
        <i class="icon ion-person-stalker"></i> About Us
        <br><span class="pull-left green-text"> {{appVersion}} </span>
      </a>
    </div>
  </ion-content>
</ion-view>
