<ion-view view-title="Sell {{baseCoin}}">

  <ion-content class="relative-position">
    
   
    <div class="primary-color white-text padding">
      <div class="row">
        <h4 class="col white-text no-margin text-roboto"><span class="crypto-icon crypto-vault-symbol">{{baseCoinShortName}}&nbsp;</span>{{user.BCHbalance | number:5}}</h4>
        
      </div>
      <div class="row no-margin">
        <div class="col col-50  white-text">
          <small style="color: #a9a9a9">Freezed {{baseCoin}} Balance </small><br><span class="">{{baseCoinShortName}}&nbsp;</span>{{user.FreezedBCHbalance | number:5}}
        </div>
        <span class="pull-right valign-wrapper">1 {{baseCoin}} = {{currentPriceOfBTCtemp.bid | number:5}} {{targetCoin}}</span>
      </div>
    </div>
    <div class="row ">
      <form novalidate="novalidate " class="col s12 center ">

        <div class="row ">
          <div class="input-field col s12 ">
            <input type="number" ng-model="sellAmount.sellAmountBCH" ng-change="myFunc1(sellAmount.sellAmountBCH) ">
            <label for="address ">Amount of {{baseCoin}}</label>
          </div>
        </div>
        <div class="row ">
          <div class="input-field col s12 ">
            <input type="text"  decimal-places  ng-model="sellAmount.sellAmountBTC" disabled>
            <label for="amount" id="sellCryptoFocus">Amount of {{targetCoin}}</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light primary-color white-text " type="submit " name="action " ng-click="sellAmountAction(sellAmount) ">Submit
          <i class="material-icons right ">send</i>
        </button>
      </form>
    </div>

  </ion-content>


</ion-view>
