<ion-view view-title="Get VCN">
  <ion-content style="overflow-y: auto !important;">
     <div class="primary-color white-text padding-top ">
      <div class="row center no-margin">
        <h5 class="center col white-text text-roboto">1 {{baseCoin}}={{usdRate}} {{targetCoin}} </h5>
      </div>

    </div>


  <div class="row">
      <form class="col s12 center" name="frm" novalidate ">

        <div class="row">
          <div class="input-field col s12">
           <input type="number" class="form-control validate" ng-model="VCNtxDetail.amount" step="0.00001" name="amount" autocomplete="off" required ng-change="myFunc(VCNtxDetail.amount)">
          <label for="amount" class="col center ">Amount({{targetCoin}})</label>
          <span style="text-align: right;"><b>You will get : {{btcindollor.btcDoller| number:7}} VCN </b></span></br>
          <span style="color:red;" ng-show="frm.amount.$dirty &&frm.amount.$error.required">Amout Should Not be Empty</span>
          </div>
        </div>
        
        <button class="btn waves-effect waves-light primary-color white-text" type="submit" name="action" ng-disabled="frm.$invalid"  ng-click="shareRequestForVCN(VCNtxDetail)">Send
                    <i class="material-icons right">send</i>
                  </button>
      </form>
    </div>

   
  </ion-content>
</ion-view>
