<ion-view>
  <ion-content class="primary-color">
    <div class="logo center padding-top no-margin">
      <h1 class="white-text font-lighter no-margin">{{appName}}</h1>
    </div>
    <div class="padding-top padding-left no-margin">
      <h4 class="white-text font-lighter no-margin">Change Password</h4>
    </div>

    <form class="col s12 center" name="frm" novalidate>

      <div class="row no-margin form-group">
        <div class="custom-input-focus-color input-field col s12">
          <input type="number" class="form-control validate white-text" placeholder="OTP" ng-model="newPasswordvalue.otp" name="otp" autocomplete="off" ng-minlength="6" ng-maxlength="6" required>
          <span ng-show="frm.otp.$dirty && frm.otp.$invalid">
          <span style="color:red;" ng-show="frm.otp.$error.required">OTP is Required</span>
          <span style="color:red;" ng-show="frm.otp.$dirty && frm.otp.$error.minlength">Pin should be  6 Number</span>
          <span style="color:red;" ng-show="frm.otp.$dirty && frm.otp.$error.maxlength">Pin should be  6 Number</span>
        </div>
        </div>

      <div class="row no-margin form-group">
        <div class="custom-input-focus-color input-field col s12">
          <input type="password" class="form-control validate white-text" placeholder="New Password" ng-model="newPasswordvalue.newPassword" ng-change="validationInputPwdText(newPasswordvalue.newPassword)" name="newPassword" autocomplete="off" ng-minlength="6" ng-maxlength="16" required>        
          <span ng-style="checkpwdStrength">{{passStrength}}</span>
          <span style="color:red;" ng-show="frm.newPassword.$dirty && frm.newPassword.$error.minlength">Password should be  6 charecters</span>
          <span style="color:red;" ng-show="frm.newPassword.$dirty && frm.newPassword.$error.maxlength">Max-length of password reached</span>
        </div>
      </div>

      <div class="row no-margin">
        <div class="custom-input-focus-color input-field col s12">
          <input id="confirm_password" type="password" ng-model="newPasswordvalue.confirmNewPassword" placeholder="Confirm New Password" required class="form-control validate white-text" ng-change="passwordMatch(newPasswordvalue.newPassword)">
          
          <span style="color:red;" ng-show="frm.newPasswordvalue.confirmNewPassword.$error.required">Required</span>
          <span style="color:red;" ng-show="noData">Passwords do not match.</span>
        </div>
      </div>


      <button class="btn waves-effect waves-light light-blue-text darken-4-text white" type="submit" name="action" ng-disabled="frm.$invalid" ng-click="newPassword(newPasswordvalue)">Submit
      <!--   <i class="material-icons right">send</i> -->
      </button>
    </form>



  </ion-content>
</ion-view>
