

<ion-view>

  <ion-content class="primary-color">
    <div class="logo center padding-top">
      <h1 class="white-text font-lighter">{{appName}}</h1>
    </div>
    <div class="padding-top padding-left">
      <h4 class="white-text font-lighter">Forgot Password?, <br>don't worry</h4>
    </div>

    <form class="col s12 center" name="frm" novalidate>


     <div class="row no-margin form-group">
       <div class="custom-input-focus-color input-field col s12">   
     <input type="email" class="form-control validate white-text" ng-model="user.userMailId" name="userMailId" autocomplete="off" required>
       <label for="address" class="col center white-text">Email</label>
       <span ng-show="frm.userMailId.$dirty && frm.userMailId.$invalid">
      <span style="color:red;" ng-show="frm.userMailId.$dirty && frm.userMailId.$error.email">Email Address is not valid</span>
       <span style="color:red;" ng-show="frm.userMailId.$error.required">Email is Required</span>
     </span>
    </div>
     </div>

     <button class="btn waves-effect waves-light light-blue-text darken-4-text white" type="submit" name="action" ng-disabled="frm.$invalid" ng-click="forgotPassword(user)">Reset Password
        <i class="material-icons right">send</i>
      </button>
    </form>
   
    <div class="row center">
      <span class="col center white-text">Have an Account? <a ng-click="login()">Login !</a></span><br>
    </div>
    <div class="row center">
      <span class="col center white-text">Don't Have Account? <a ng-click="signUp()">Signup !</a></span>
    </div>
  </ion-content>
</ion-view>
